body {
  display: flex;
  flex-direction: column; /* Make the layout vertical */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#title {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px; /* Reduced margin-bottom */
}


.zone {
  border: 2px dashed #ccc;
  padding: 30px;
  max-width: 600px;
  text-align: center;
  margin: 10px;
  margin-bottom: 10px; /* Separate zones vertically */
}

#dropZ {
  cursor: pointer;
}

#dropZ i {
  font-size: 7rem;
  color: #ddd;
}

#dropZ div {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#dropZ span {
  display: block;
  font-size: .9rem;
  margin-bottom: 20px;
}

.selectFile {
  display: block; /* Change to block to stack vertically */
  margin-bottom: 20px; /* Separate file inputs vertically */
}

.selectFile label {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Display labels as block to stack */
  margin-bottom: 10px; /* Separate labels vertically */
}

.selectFile input {
  display: none;
}

#output {
  display: block;
  margin: auto;
  margin-top: 30px;
}

input[type='text'] {
  width: calc(100% - 100px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px; /* Separate text inputs vertically */
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
